<a href="https://colab.research.google.com/github/Jan12s/betterlifeindex/blob/main/better_life_index_edu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

RESEARCH QUESTION: Which external factors impact education, and does better education mean people are more satisfied with life?

BETTER LIFE INDEX B

In [27]:
import pandas as pd

# Step 1: Load the data
url = 'https://raw.githubusercontent.com/Jan12s/betterlifeindex/refs/heads/main/OECD.WISE.WDP%2CDSD_HSL%40DF_HSL_CWB%2C1.1%2BAUS%2BAUT%2BBEL%2BCAN%2BCHL%2BCOL%2BCRI%2BCZE%2BDNK%2BEST%2BFIN%2BFRA%2BDEU%2BGRC%2BHUN%2BISL%2BIRL%2BISR%2BITA%2BJPN%2BKOR%2BLVA%2BLTU%2BLUX%2BMEX%2BNLD%2BNZL%2BNOR%2BPOL%2BPRT%2BSVK%2BSVN%2BESP%2BSWE%2BCHE%2BTUR%2BGBR%2BUSA%2BARG%2BBRA%2BBGR%2BHRV%2BIDN%20(1).csv'
df = pd.read_csv(url)

# Step 2: Keep just what we need
df = df[['REF_AREA', 'TIME_PERIOD', 'MEASURE', 'OBS_VALUE']]
df = df.rename(columns={
    'REF_AREA': 'country',
    'TIME_PERIOD': 'year',
    'MEASURE': 'indicator',
    'OBS_VALUE': 'value'
})

# Step 3: Drop missing values
df = df.dropna(subset=['value'])

# Step 4: Pivot so each indicator becomes a column
df_clean = df.pivot_table(index=['country', 'year'], columns='indicator', values='value').reset_index()

# Step 5: Drop rows with any missing values across indicators
df_clean = df_clean.dropna()

# Show the clean data
print(df_clean.head())
print("Clean data shape:", df_clean.shape)

indicator country  year      11_1       2_4      3_4  3_5         6_1  \
56            AUT  2018  8.002416  9.220276  87.6856  1.6  484.392568
77            BEL  2018  7.580024  9.429950  83.7276  5.2  492.864439
245           CZE  2018  7.351978  5.793651  85.7682  2.7  490.218815
266           DEU  2018  7.358130  6.987309  90.2508  2.7  498.279257
287           DNK  2018  7.761102  9.061315  90.2963  3.0  501.129934

indicator    6_1_DEP   6_1_VER         6_2    6_2_DEP   6_2_VER         6_3  \
56         13.512053  1.749492  498.942314  13.512053  1.653118  489.780439
77         12.488838  1.769670  508.070306  12.488838  1.668829  498.773127
245        10.515503  1.701419  499.467651  10.515503  1.639396  496.791311
266        12.815182  1.786301  500.043781  12.815182  1.664745  502.988903
287         8.142326  1.625112  509.398375   8.142326  1.530610  492.637033

indicator    6_3_DEP   6_3_VER        7_1   7_1_DEP        9_2  9_3
56         13.512053  1.698723  92.101824  7.208514  99.986755  0.0
77         12.488838  1.720109  90.699814  8.764923  99.962578  0.0
245        10.515503  1.662343  90.490055  8.402266  99.999008  0.0
266        12.815182  1.741925  89.008113  9.980209  99.981888  0.0
287         8.142326  1.636375  95.510230  4.395046  99.162529  0.0
Clean data shape: (24, 19)

In [26]:
df.head()

        indicator     value country  year
0  social_support  6.041596     AUS  2016
1  social_support  6.041596     AUS  2015
2  social_support  6.041596     AUS  2014
3  social_support  5.324185     AUS  2013
4  social_support  5.324185     AUS  2012

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3798 entries, 0 to 6742
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   indicator  3798 non-null   object
 1   value      3798 non-null   float64
 2   country    3798 non-null   object
 3   year       3798 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 148.4+ KB
None

In [24]:
print(df['indicator'].unique())

['social_support' 'life_satisfaction' 'education' 'air_pollution'
 'internet_access' 'water_quality']

In [23]:
df[['indicator', 'value', 'country', 'year']].drop_duplicates().head(20)

            indicator      value country  year
0      social_support   6.041596     AUS  2016
1      social_support   6.041596     AUS  2015
2      social_support   6.041596     AUS  2014
3      social_support   5.324185     AUS  2013
4      social_support   5.324185     AUS  2012
5      social_support   5.324185     AUS  2011
17  life_satisfaction  98.730392     AUS  2008
18  life_satisfaction  98.261719     AUS  2007
19  life_satisfaction  98.660629     AUS  2006
20  life_satisfaction  98.829361     AUS  2005
21  life_satisfaction  98.777695     AUS  2004
22          education   7.200000     AUS  2020
23          education   7.500000     AUS  2019
43     social_support   4.926543     AUS  2010
44     social_support   4.926543     AUS  2008
45     social_support   3.324733     AUS  2007
46     social_support   3.324733     AUS  2006
65     social_support   5.550078     AUS  2019
66     social_support   5.550078     AUS  2018
67     social_support   5.550078     AUS  2017

In [22]:
print(df['country'].unique())

['AUS' 'AUT' 'BEL' 'CAN' 'CHL' 'COL' 'CRI' 'CZE' 'DNK' 'EST' 'FIN' 'FRA'
 'DEU' 'GRC' 'HUN' 'ISL' 'IRL' 'ISR' 'ITA' 'JPN' 'KOR' 'LVA' 'LTU' 'LUX'
 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK' 'SVN' 'ESP' 'SWE' 'CHE' 'TUR'
 'GBR' 'USA' 'ARG' 'BRA' 'BGR' 'HRV' 'IDN' 'PER' 'ROU' 'ZAF' 'THA']

In [21]:
print(df['indicator'].unique())

['social_support' 'life_satisfaction' 'education' 'air_pollution'
 'internet_access' 'water_quality']

In [20]:
import pandas as pd

url = "https://raw.githubusercontent.com/Jan12s/betterlifeindex/refs/heads/main/OECD.WISE.WDP%2CDSD_HSL%40DF_HSL_CWB%2C1.1%2BAUS%2BAUT%2BBEL%2BCAN%2BCHL%2BCOL%2BCRI%2BCZE%2BDNK%2BEST%2BFIN%2BFRA%2BDEU%2BGRC%2BHUN%2BISL%2BIRL%2BISR%2BITA%2BJPN%2BKOR%2BLVA%2BLTU%2BLUX%2BMEX%2BNLD%2BNZL%2BNOR%2BPOL%2BPRT%2BSVK%2BSVN%2BESP%2BSWE%2BCHE%2BTUR%2BGBR%2BUSA%2BARG%2BBRA%2BBGR%2BHRV%2BIDN%20(1).csv"
df = pd.read_csv(url)


df = df.rename(columns={
    'MEASURE': 'indicator',
    'REF_AREA': 'country',
    'TIME_PERIOD': 'year',
    'OBS_VALUE': 'value'
})

df = df[['indicator', 'value', 'country', 'year']]


indicator_map = {
    '11_1': 'education',
    '9_2': 'life_satisfaction',
    '2_4': 'internet_access',
    '3_4': 'air_pollution',
    '3_5': 'water_quality',
    '7_1_DEP': 'social_support',
}

# Filter for your selected indicators only
df = df[df['indicator'].isin(indicator_map.keys())]

# Replace codes with clear names
df['indicator'] = df['indicator'].map(indicator_map)

# Pivot so each indicator becomes a column
df_pivot = df.pivot_table(
    index=['country', 'year'],
    columns='indicator',
    values='value'
).reset_index()

# Drop rows with any missing values
df_clean = df_pivot.dropna()

# Show result
print(df_clean.head())
print("\nShape:", df_clean.shape)

indicator country  year  air_pollution  education  internet_access  \
51            AUT  2013        79.7862   7.810006         8.780428
56            AUT  2018        87.6856   8.002416         9.220276
72            BEL  2013        78.6488   7.528975        13.021009
77            BEL  2018        83.7276   7.580024         9.429950
152           CHE  2009        73.9000   8.143000         9.546423

indicator  life_satisfaction  social_support  water_quality
51                 99.999077        5.323621            2.7
56                 99.986755        7.208514            1.6
72                 99.962799        7.539228            5.8
77                 99.962578        8.764923            5.2
152                99.943962        6.121666            7.6

Shape: (57, 8)

In [19]:
df.shape

(6763, 4)

In [18]:
df.head(20)

   country  year indicator      value
0      AUS  2016   7_1_DEP   6.041596
1      AUS  2015   7_1_DEP   6.041596
2      AUS  2014   7_1_DEP   6.041596
3      AUS  2013   7_1_DEP   5.324185
4      AUS  2012   7_1_DEP   5.324185
5      AUS  2011   7_1_DEP   5.324185
6      AUS  2018   6_2_VER   1.640049
7      AUS  2018   6_1_VER   1.795876
8      AUS  2022   6_3_VER   1.777801
9      AUS  2022   6_2_VER   1.727050
10     AUS  2022   6_1_VER   1.820740
11     AUS  2022   6_3_DEP  12.082763
12     AUS  2022   6_2_DEP  12.082763
13     AUS  2022   6_1_DEP  12.082763
14     AUS  2018   6_3_DEP  11.215180
15     AUS  2018   6_2_DEP  11.215180
16     AUS  2018   6_1_DEP  11.215180
17     AUS  2008       9_2  98.730392
18     AUS  2007       9_2  98.261719
19     AUS  2006       9_2  98.660629

In [5]:
df_wide = df.pivot_table(
    index=['country', 'year'],
    columns='indicator',
    values='value'
).reset_index()

print(df_wide.head())

indicator country  year  11_1  2_4  3_4  3_5  6_1  6_1_DEP  6_1_VER  6_2  \
0             ARG  2004   NaN  NaN  NaN  NaN  NaN      NaN      NaN  NaN
1             ARG  2005   NaN  NaN  NaN  NaN  NaN      NaN      NaN  NaN
2             ARG  2006   NaN  NaN  NaN  NaN  NaN      NaN      NaN  NaN
3             ARG  2007   NaN  NaN  NaN  NaN  NaN      NaN      NaN  NaN
4             ARG  2008   NaN  NaN  NaN  NaN  NaN      NaN      NaN  NaN

indicator  6_2_DEP  6_2_VER  6_3  6_3_DEP  6_3_VER        7_1   7_1_DEP  \
0              NaN      NaN  NaN      NaN      NaN        NaN       NaN
1              NaN      NaN  NaN      NaN      NaN        NaN       NaN
2              NaN      NaN  NaN      NaN      NaN  89.013534  9.850904
3              NaN      NaN  NaN      NaN      NaN  89.013534  9.850904
4              NaN      NaN  NaN      NaN      NaN  90.156300  8.622396

indicator        9_2        9_3
0          99.875931  11.572835
1          99.875847  14.769807
2          99.875565  20.410571
3          99.875290  10.670389
4          99.875023  14.723009

In [28]:
df_wide.head(50)

indicator,country,year,11_1,2_4,3_4,3_5,6_1,6_1_DEP,6_1_VER,6_2,6_2_DEP,6_2_VER,6_3,6_3_DEP,6_3_VER,7_1,7_1_DEP,9_2,9_3
0,ARG,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.875931,11.572835
1,ARG,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.875847,14.769807
2,ARG,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.013534,9.850904,99.875565,20.410571
3,ARG,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.013534,9.850904,99.875290,10.670389
4,ARG,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.156300,8.622396,99.875023,14.723009
5,ARG,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.156300,8.622396,99.874763,15.678700
6,ARG,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.156300,8.622396,99.874504,12.856874
7,ARG,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.214418,9.887694,99.874268,11.958667
8,ARG,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.214418,9.887694,99.874039,25.353460
9,ARG,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.214418,9.887694,99.873817,24.002302
10,ARG,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.219738,9.018445,99.873596,21.458356
11,ARG,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.219738,9.018445,99.873383,7.374624
12,ARG,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.219738,9.018445,99.873337,10.586263
13,ARG,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.820633,9.870592,99.873299,19.120486
14,ARG,2018,NaN,19.679968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.820633,9.870592,99.873260,18.022809
15,ARG,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.820633,9.870592,99.873215,19.965446
16,ARG,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.450734,10.833276,99.873177,22.456272
17,ARG,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.450734,10.833276,NaN,21.111967
18,ARG,2022,NaN,NaN,NaN,NaN,NaN,42.687112,1.838906,NaN,42.687112,1.664257,NaN,42.687112,1.733820,88.450734,10.833276,NaN,47.284399
19,ARG,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.325143,9.223854,NaN,48.439797
20,ARG,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.325143,9.223854,NaN,NaN
21,AUS,2004,NaN,9.926181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.777695,14.777219
22,AUS,2005,NaN,9.554185,28.3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.829361,5.873472
23,AUS,2006,NaN,9.315417,43.0000,NaN,512.893292,NaN,NaN,519.907749,NaN,NaN,526.879589,NaN,NaN,96.185359,3.324733,98.660629,7.887304
24,AUS,2007,NaN,8.651760,52.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.185359,3.324733,98.261719,9.873477
25,AUS,2008,NaN,8.552238,62.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.771326,4.926543,98.730392,7.346129
26,AUS,2009,NaN,9.996901,NaN,NaN,514.900655,NaN,NaN,514.340462,NaN,NaN,527.270534,NaN,NaN,NaN,NaN,99.174583,18.701165
27,AUS,2010,NaN,9.690154,72.6200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.771326,4.926543,99.109207,9.907041
28,AUS,2011,NaN,9.868906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.415006,5.324185,99.134483,5.441636
29,AUS,2012,NaN,9.856607,77.0000,NaN,511.803998,NaN,NaN,504.150766,NaN,NaN,521.494747,NaN,NaN,94.415006,5.324185,99.182411,10.184634
30,AUS,2013,NaN,10.852316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.415006,5.324185,99.130447,10.128776
31,AUS,2014,NaN,10.389955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.562880,6.041596,99.089287,11.611627
32,AUS,2015,NaN,9.758269,NaN,NaN,502.900560,NaN,NaN,493.896231,NaN,NaN,509.993854,NaN,NaN,93.562880,6.041596,98.812508,9.439477
33,AUS,2016,NaN,8.927470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.562880,6.041596,99.143822,9.636185
34,AUS,2017,NaN,8.663326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.095001,5.550078,99.146439,11.778715
35,AUS,2018,NaN,8.840809,NaN,NaN,502.631724,11.215180,1.795876,491.360025,11.215180,1.640049,502.964563,11.215180,1.710637,94.095001,5.550078,99.203194,8.213534
36,AUS,2019,7.5,8.656465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.095001,5.550078,99.206535,28.232000
37,AUS,2020,7.2,11.860934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.969471,6.713678,98.969398,5.700707
38,AUS,2021,NaN,8.460814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.969471,6.713678,NaN,4.444470
39,AUS,2022,NaN,7.831167,NaN,NaN,498.050000,12.082763,1.820740,487.080000,12.082763,1.727050,507.000000,12.082763,1.777801,92.969471,6.713678,NaN,8.997925
40,AUS,2023,NaN,7.491409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.363618,10.336866,NaN,5.101604
41,AUS,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.363618,10.336866,NaN,NaN
42,AUT,2004,NaN,10.977864,NaN,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.998993,0.000000
43,AUT,2005,NaN,10.149777,23.1404,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.999008,0.000000
44,AUT,2006,NaN,9.870388,33.1170,3.8,490.193977,NaN,NaN,505.483599,NaN,NaN,510.837154,NaN,NaN,91.604918,6.226957,99.999016,0.000000
45,AUT,2007,NaN,8.724984,46.1463,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.999023,0.000000
46,AUT,2008,NaN,8.930981,54.4969,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.452772,7.846292,99.999031,0.000000
47,AUT,2009,NaN,9.349524,57.8027,2.9,470.283632,NaN,NaN,495.908655,NaN,NaN,494.327673,NaN,NaN,91.452772,7.846292,99.999039,0.000000
48,AUT,2010,NaN,9.617456,63.7002,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.452772,7.846292,99.999046,0.000000
49,AUT,2011,NaN,8.438075,71.9837,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.958903,5.323621,99.999054,0.000000

In [17]:
df_wide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  987 non-null    object
 1   year     987 non-null    int64
 2   11_1     238 non-null    float64
 3   2_4      726 non-null    float64
 4   3_4      599 non-null    float64
 5   3_5      593 non-null    float64
 6   6_1      228 non-null    float64
 7   6_1_DEP  82 non-null     float64
 8   6_1_VER  82 non-null     float64
 9   6_2      230 non-null    float64
 10  6_2_DEP  82 non-null     float64
 11  6_2_VER  83 non-null     float64
 12  6_3      230 non-null    float64
 13  6_3_DEP  82 non-null     float64
 14  6_3_VER  83 non-null     float64
 15  7_1      843 non-null    float64
 16  7_1_DEP  843 non-null    float64
 17  9_2      799 non-null    float64
 18  9_3      940 non-null    float64
dtypes: float64(17), int64(1), object(1)
memory usage: 146.6+ KB

RESEARCH QUESTION: Which external factors impact education, and does better education mean people are more satisfied with life?

In [29]:
indicator_map_wide = {
    '11_1': 'education',
    '2_4': 'internet_access',
    '3_4': 'air_pollution',
    '3_5': 'water_quality',
    '6_1': 'earnings_employment',
    '6_1_DEP': 'earnings_employment_deprivation',
    '6_1_VER': 'earnings_employment_validation',
    '6_2': 'housing_rooms',
    '6_2_DEP': 'housing_deprivation',
    '6_2_VER': 'housing_validation',
    '6_3': 'housing_dwelling_type',
    '6_3_DEP': 'housing_dwelling_type_deprivation',
    '6_3_VER': 'housing_dwelling_type_validation',
    '7_1': 'social_support',
    '7_1_DEP': 'social_support_deprivation',
    '9_2': 'life_satisfaction',
    '9_3': 'life_satisfaction_validation'
}

# Rename columns using the map
df_wide_renamed = df_wide.rename(columns=indicator_map_wide)

# Display the updated DataFrame
display(df_wide_renamed.head())

indicator,country,year,education,internet_access,air_pollution,water_quality,earnings_employment,earnings_employment_deprivation,earnings_employment_validation,housing_rooms,housing_deprivation,housing_validation,housing_dwelling_type,housing_dwelling_type_deprivation,housing_dwelling_type_validation,social_support,social_support_deprivation,life_satisfaction,life_satisfaction_validation
0,ARG,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.875931,11.572835
1,ARG,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.875847,14.769807
2,ARG,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.013534,9.850904,99.875565,20.410571
3,ARG,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.013534,9.850904,99.875290,10.670389
4,ARG,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.156300,8.622396,99.875023,14.723009

In [55]:
df_wide_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country                            987 non-null    object
 1   year                               987 non-null    int64
 2   education                          238 non-null    float64
 3   internet_access                    726 non-null    float64
 4   air_pollution                      599 non-null    float64
 5   water_quality                      593 non-null    float64
 6   earnings_employment                228 non-null    float64
 7   earnings_employment_deprivation    82 non-null     float64
 8   earnings_employment_validation     82 non-null     float64
 9   housing_rooms                      230 non-null    float64
 10  housing_deprivation                82 non-null     float64
 11  housing_validation                 83 non-null     float64
 12  housing_dwelling_type              230 non-null    float64
 13  housing_dwelling_type_deprivation  82 non-null     float64
 14  housing_dwelling_type_validation   83 non-null     float64
 15  social_support                     843 non-null    float64
 16  social_support_deprivation         843 non-null    float64
 17  life_satisfaction                  799 non-null    float64
 18  life_satisfaction_validation       940 non-null    float64
dtypes: float64(17), int64(1), object(1)
memory usage: 146.6+ KB

In [56]:
BLIE = BFLI.copy()
BLIE.head()

indicator,country,year,education,internet_access,air_pollution,housing_deprivation,social_support,life_satisfaction
0,ARG,2004,NaN,NaN,NaN,NaN,NaN,99.875931
1,ARG,2005,NaN,NaN,NaN,NaN,NaN,99.875847
2,ARG,2006,NaN,NaN,NaN,NaN,89.013534,99.875565
3,ARG,2007,NaN,NaN,NaN,NaN,89.013534,99.875290
4,ARG,2008,NaN,NaN,NaN,NaN,90.156300,99.875023

In [57]:
columns_to_drop = [
    'water_quality',
    'earnings_employment',
    'earnings_employment_deprivation',
    'earnings_employment_validation',
    'housing_rooms',
    'housing_validation',
    'housing_dwelling_type',
    'housing_dwelling_type_deprivation',
    'housing_dwelling_type_validation',
    'social_support_deprivation',
    'life_satisfaction_validation'
]

BLIE = BLIE.drop(columns=columns_to_drop)

display(BLIE.head())

KeyError: "['water_quality', 'earnings_employment', 'earnings_employment_deprivation', 'earnings_employment_validation', 'housing_rooms', 'housing_validation', 'housing_dwelling_type', 'housing_dwelling_type_deprivation', 'housing_dwelling_type_validation', 'social_support_deprivation', 'life_satisfaction_validation'] not found in axis"

In [60]:
countries_with_nan_education = BFLI[BFLI['education'].isna()]['country'].unique()
print("Countries with NaN in 'education' column:")
print(countries_with_nan_education)

Countries with NaN in 'education' column:
['ARG' 'AUS' 'AUT' 'BEL' 'BGR' 'BRA' 'CAN' 'CHE' 'CHL' 'COL' 'CRI' 'CZE'
 'DEU' 'DNK' 'ESP' 'EST' 'FIN' 'FRA' 'GBR' 'GRC' 'HRV' 'HUN' 'IDN' 'IRL'
 'ISL' 'ISR' 'ITA' 'JPN' 'KOR' 'LTU' 'LUX' 'LVA' 'MEX' 'NLD' 'NOR' 'NZL'
 'PER' 'POL' 'PRT' 'ROU' 'SVK' 'SVN' 'SWE' 'THA' 'TUR' 'USA' 'ZAF']

In [61]:
countries_with_education_value = BFLI[BFLI['education'].notna()]['country'].unique()
print("Countries with a value for 'education' column:")
print(countries_with_education_value)

Countries with a value for 'education' column:
['AUS' 'AUT' 'BEL' 'BGR' 'CAN' 'CHE' 'COL' 'CZE' 'DEU' 'DNK' 'ESP' 'EST'
 'FIN' 'FRA' 'GBR' 'GRC' 'HRV' 'HUN' 'IRL' 'ISL' 'ISR' 'ITA' 'JPN' 'KOR'
 'LTU' 'LUX' 'LVA' 'MEX' 'NLD' 'NOR' 'NZL' 'POL' 'PRT' 'ROU' 'SVK' 'SVN'
 'SWE' 'TUR']

In [65]:
total_countries = BFLI['country'].nunique()
print(f"Total number of countries in the DataFrame: {total_countries}")

Total number of countries in the DataFrame: 47

In [66]:
rows_fully_filled = BFLI.dropna()

print(f"Number of fully filled rows: {rows_fully_filled.shape[0]}")
print("\nFully filled rows:")
display(rows_fully_filled)

Number of fully filled rows: 25

Fully filled rows:

indicator,country,year,education,internet_access,air_pollution,housing_deprivation,social_support,life_satisfaction
56,AUT,2018,8.002416,9.220276,87.6856,13.512053,92.101824,99.986755
77,BEL,2018,7.580024,9.429950,83.7276,12.488838,90.699814,99.962578
140,CAN,2018,8.100000,10.006902,88.2000,6.373436,92.393894,89.804497
245,CZE,2018,7.351978,5.793651,85.7682,10.515503,90.490055,99.999008
266,DEU,2018,7.358130,6.987309,90.2508,12.815182,89.008113,99.981888
287,DNK,2018,7.761102,9.061315,90.2963,8.142326,95.510230,99.162529
329,EST,2018,7.005767,10.670861,89.2878,4.217837,91.876032,99.814720
350,FIN,2018,8.106845,9.666667,92.9988,7.014527,95.106968,69.879356
371,FRA,2018,7.254388,13.178674,81.3062,12.523802,93.106416,99.712212
392,GBR,2018,7.710000,12.039447,94.8185,9.021561,93.186038,99.463730
413,GRC,2018,6.437686,15.142791,76.1250,19.874120,80.977126,99.692673
455,HUN,2018,6.506272,11.418577,82.8661,15.455116,91.513438,99.997398
497,IRL,2018,8.068109,9.601873,88.0971,7.487589,93.998454,99.932037
560,ITA,2018,7.024596,19.678982,82.8034,13.767840,88.523930,99.089951
623,LTU,2018,6.382413,9.003556,77.8948,13.874889,87.750884,99.999435
644,LUX,2018,7.556332,5.976479,92.8670,17.412637,90.091600,100.000000
665,LVA,2018,6.737704,8.512096,78.7898,9.158704,88.054046,99.855972
707,NLD,2018,7.695520,4.398015,97.4134,10.798807,93.698676,99.401749
728,NOR,2018,7.980364,6.511153,94.0949,11.257628,94.853705,80.750832
791,POL,2018,7.731018,9.373297,79.3346,6.696734,83.930750,99.893639
812,PRT,2018,6.689225,11.444414,76.9263,12.643298,88.347044,98.300278
854,SVK,2018,7.067002,11.002742,78.9901,16.947629,89.916315,99.999847
875,SVN,2018,7.248028,7.168643,86.6821,8.027603,93.632946,99.998100
896,SWE,2018,7.796567,8.492767,91.3616,10.490198,92.274547,88.500198
938,TUR,2018,5.700000,22.921755,82.4887,17.105289,82.964071,99.801353