<a href="https://colab.research.google.com/github/Jan12s/betterlifeindex/blob/main/better_life_index_edu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

RESEARCH QUESTION: Which external factors impact education, and does better education mean people are more satisfied with life?

BETTER LIFE INDEX B

In [37]:
import pandas as pd

# Step 1: Load the data
url = 'https://raw.githubusercontent.com/Jan12s/betterlifeindex/refs/heads/main/OECD.WISE.WDP%2CDSD_HSL%40DF_HSL_CWB%2C1.1%2BAUS%2BAUT%2BBEL%2BCAN%2BCHL%2BCOL%2BCRI%2BCZE%2BDNK%2BEST%2BFIN%2BFRA%2BDEU%2BGRC%2BHUN%2BISL%2BIRL%2BISR%2BITA%2BJPN%2BKOR%2BLVA%2BLTU%2BLUX%2BMEX%2BNLD%2BNZL%2BNOR%2BPOL%2BPRT%2BSVK%2BSVN%2BESP%2BSWE%2BCHE%2BTUR%2BGBR%2BUSA%2BARG%2BBRA%2BBGR%2BHRV%2BIDN%20(1).csv'
df = pd.read_csv(url)

# Step 2: Keep just what we need
df = df[['REF_AREA', 'TIME_PERIOD', 'MEASURE', 'OBS_VALUE']]
df = df.rename(columns={
    'REF_AREA': 'country',
    'TIME_PERIOD': 'year',
    'MEASURE': 'indicator',
    'OBS_VALUE': 'value'
})

# Step 3: Drop missing values
df = df.dropna(subset=['value'])

# Step 4: Pivot so each indicator becomes a column
df_clean = df.pivot_table(index=['country', 'year'], columns='indicator', values='value').reset_index()

# Step 5: Drop rows with any missing values across indicators
df_clean = df_clean.dropna()

# Show the clean data
print(df_clean.head())
print("Clean data shape:", df_clean.shape)

indicator country  year      11_1       2_4      3_4  3_5         6_1  \
56            AUT  2018  8.002416  9.220276  87.6856  1.6  484.392568
77            BEL  2018  7.580024  9.429950  83.7276  5.2  492.864439
245           CZE  2018  7.351978  5.793651  85.7682  2.7  490.218815
266           DEU  2018  7.358130  6.987309  90.2508  2.7  498.279257
287           DNK  2018  7.761102  9.061315  90.2963  3.0  501.129934

indicator    6_1_DEP   6_1_VER         6_2    6_2_DEP   6_2_VER         6_3  \
56         13.512053  1.749492  498.942314  13.512053  1.653118  489.780439
77         12.488838  1.769670  508.070306  12.488838  1.668829  498.773127
245        10.515503  1.701419  499.467651  10.515503  1.639396  496.791311
266        12.815182  1.786301  500.043781  12.815182  1.664745  502.988903
287         8.142326  1.625112  509.398375   8.142326  1.530610  492.637033

indicator    6_3_DEP   6_3_VER        7_1   7_1_DEP        9_2  9_3
56         13.512053  1.698723  92.101824  7.208514  99.986755  0.0
77         12.488838  1.720109  90.699814  8.764923  99.962578  0.0
245        10.515503  1.662343  90.490055  8.402266  99.999008  0.0
266        12.815182  1.741925  89.008113  9.980209  99.981888  0.0
287         8.142326  1.636375  95.510230  4.395046  99.162529  0.0
Clean data shape: (24, 19)

In [42]:
df.head()

  country  year indicator     value
0     AUS  2016   7_1_DEP  6.041596
1     AUS  2015   7_1_DEP  6.041596
2     AUS  2014   7_1_DEP  6.041596
3     AUS  2013   7_1_DEP  5.324185
4     AUS  2012   7_1_DEP  5.324185

In [44]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6763 entries, 0 to 6762
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    6763 non-null   object
 1   year       6763 non-null   int64
 2   indicator  6763 non-null   object
 3   value      6763 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 211.5+ KB
None

In [45]:
print(df['indicator'].unique())

['7_1_DEP' '6_2_VER' '6_1_VER' '6_3_VER' '6_3_DEP' '6_2_DEP' '6_1_DEP'
 '9_2' '11_1' '6_2' '6_3' '6_1' '7_1' '9_3' '3_4' '2_4' '3_5']

In [46]:
df[['indicator', 'value', 'country', 'year']].drop_duplicates().head(20)

   indicator      value country  year
0    7_1_DEP   6.041596     AUS  2016
1    7_1_DEP   6.041596     AUS  2015
2    7_1_DEP   6.041596     AUS  2014
3    7_1_DEP   5.324185     AUS  2013
4    7_1_DEP   5.324185     AUS  2012
5    7_1_DEP   5.324185     AUS  2011
6    6_2_VER   1.640049     AUS  2018
7    6_1_VER   1.795876     AUS  2018
8    6_3_VER   1.777801     AUS  2022
9    6_2_VER   1.727050     AUS  2022
10   6_1_VER   1.820740     AUS  2022
11   6_3_DEP  12.082763     AUS  2022
12   6_2_DEP  12.082763     AUS  2022
13   6_1_DEP  12.082763     AUS  2022
14   6_3_DEP  11.215180     AUS  2018
15   6_2_DEP  11.215180     AUS  2018
16   6_1_DEP  11.215180     AUS  2018
17       9_2  98.730392     AUS  2008
18       9_2  98.261719     AUS  2007
19       9_2  98.660629     AUS  2006

In [47]:
print(df['country'].unique())

['AUS' 'AUT' 'BEL' 'CAN' 'CHL' 'COL' 'CRI' 'CZE' 'DNK' 'EST' 'FIN' 'FRA'
 'DEU' 'GRC' 'HUN' 'ISL' 'IRL' 'ISR' 'ITA' 'JPN' 'KOR' 'LVA' 'LTU' 'LUX'
 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK' 'SVN' 'ESP' 'SWE' 'CHE' 'TUR'
 'GBR' 'USA' 'ARG' 'BRA' 'BGR' 'HRV' 'IDN' 'PER' 'ROU' 'ZAF' 'THA']

In [48]:
print(df['indicator'].unique())

['7_1_DEP' '6_2_VER' '6_1_VER' '6_3_VER' '6_3_DEP' '6_2_DEP' '6_1_DEP'
 '9_2' '11_1' '6_2' '6_3' '6_1' '7_1' '9_3' '3_4' '2_4' '3_5']

In [49]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/Jan12s/betterlifeindex/refs/heads/main/OECD.WISE.WDP%2CDSD_HSL%40DF_HSL_CWB%2C1.1%2BAUS%2BAUT%2BBEL%2BCAN%2BCHL%2BCOL%2BCRI%2BCZE%2BDNK%2BEST%2BFIN%2BFRA%2BDEU%2BGRC%2BHUN%2BISL%2BIRL%2BISR%2BITA%2BJPN%2BKOR%2BLVA%2BLTU%2BLUX%2BMEX%2BNLD%2BNZL%2BNOR%2BPOL%2BPRT%2BSVK%2BSVN%2BESP%2BSWE%2BCHE%2BTUR%2BGBR%2BUSA%2BARG%2BBRA%2BBGR%2BHRV%2BIDN%20(1).csv"
df = pd.read_csv(url)

# Rename key columns
df = df.rename(columns={
    'MEASURE': 'indicator',
    'REF_AREA': 'country',
    'TIME_PERIOD': 'year',
    'OBS_VALUE': 'value'
})

# Select only the useful columns
df = df[['indicator', 'value', 'country', 'year']]

# Map indicator codes to readable names (only your preferred ones)
indicator_map = {
    '11_1': 'education',
    '9_2': 'life_satisfaction',
    '2_4': 'internet_access',
    '3_4': 'air_pollution',
    '3_5': 'water_quality',
    '7_1_DEP': 'social_support',
}

# Filter for your selected indicators only
df = df[df['indicator'].isin(indicator_map.keys())]

# Replace codes with clear names
df['indicator'] = df['indicator'].map(indicator_map)

# Pivot so each indicator becomes a column
df_pivot = df.pivot_table(
    index=['country', 'year'],
    columns='indicator',
    values='value'
).reset_index()

# Drop rows with any missing values
df_clean = df_pivot.dropna()

# Show result
print(df_clean.head())
print("\nShape:", df_clean.shape)

indicator country  year  air_pollution  education  internet_access  \
51            AUT  2013        79.7862   7.810006         8.780428
56            AUT  2018        87.6856   8.002416         9.220276
72            BEL  2013        78.6488   7.528975        13.021009
77            BEL  2018        83.7276   7.580024         9.429950
152           CHE  2009        73.9000   8.143000         9.546423

indicator  life_satisfaction  social_support  water_quality
51                 99.999077        5.323621            2.7
56                 99.986755        7.208514            1.6
72                 99.962799        7.539228            5.8
77                 99.962578        8.764923            5.2
152                99.943962        6.121666            7.6

Shape: (57, 8)

In [50]:
df.shape

(3798, 4)

In [52]:
df.head(20)

            indicator      value country  year
0      social_support   6.041596     AUS  2016
1      social_support   6.041596     AUS  2015
2      social_support   6.041596     AUS  2014
3      social_support   5.324185     AUS  2013
4      social_support   5.324185     AUS  2012
5      social_support   5.324185     AUS  2011
17  life_satisfaction  98.730392     AUS  2008
18  life_satisfaction  98.261719     AUS  2007
19  life_satisfaction  98.660629     AUS  2006
20  life_satisfaction  98.829361     AUS  2005
21  life_satisfaction  98.777695     AUS  2004
22          education   7.200000     AUS  2020
23          education   7.500000     AUS  2019
43     social_support   4.926543     AUS  2010
44     social_support   4.926543     AUS  2008
45     social_support   3.324733     AUS  2007
46     social_support   3.324733     AUS  2006
65     social_support   5.550078     AUS  2019
66     social_support   5.550078     AUS  2018
67     social_support   5.550078     AUS  2017

In [53]:
df_wide = df.pivot_table(
    index=['country', 'year'],
    columns='indicator',
    values='value'
).reset_index()

print(df_wide.head())

indicator country  year  air_pollution  education  internet_access  \
0             ARG  2004            NaN        NaN              NaN
1             ARG  2005            NaN        NaN              NaN
2             ARG  2006            NaN        NaN              NaN
3             ARG  2007            NaN        NaN              NaN
4             ARG  2008            NaN        NaN              NaN

indicator  life_satisfaction  social_support  water_quality
0                  99.875931             NaN            NaN
1                  99.875847             NaN            NaN
2                  99.875565        9.850904            NaN
3                  99.875290        9.850904            NaN
4                  99.875023        8.622396            NaN

In [56]:
df_wide.head(50)

indicator,country,year,air_pollution,education,internet_access,life_satisfaction,social_support,water_quality
0,ARG,2004,NaN,NaN,NaN,99.875931,NaN,NaN
1,ARG,2005,NaN,NaN,NaN,99.875847,NaN,NaN
2,ARG,2006,NaN,NaN,NaN,99.875565,9.850904,NaN
3,ARG,2007,NaN,NaN,NaN,99.875290,9.850904,NaN
4,ARG,2008,NaN,NaN,NaN,99.875023,8.622396,NaN
5,ARG,2009,NaN,NaN,NaN,99.874763,8.622396,NaN
6,ARG,2010,NaN,NaN,NaN,99.874504,8.622396,NaN
7,ARG,2011,NaN,NaN,NaN,99.874268,9.887694,NaN
8,ARG,2012,NaN,NaN,NaN,99.874039,9.887694,NaN
9,ARG,2013,NaN,NaN,NaN,99.873817,9.887694,NaN
10,ARG,2014,NaN,NaN,NaN,99.873596,9.018445,NaN
11,ARG,2015,NaN,NaN,NaN,99.873383,9.018445,NaN
12,ARG,2016,NaN,NaN,NaN,99.873337,9.018445,NaN
13,ARG,2017,NaN,NaN,NaN,99.873299,9.870592,NaN
14,ARG,2018,NaN,NaN,19.679968,99.873260,9.870592,NaN
15,ARG,2019,NaN,NaN,NaN,99.873215,9.870592,NaN
16,ARG,2020,NaN,NaN,NaN,99.873177,10.833276,NaN
17,ARG,2021,NaN,NaN,NaN,NaN,10.833276,NaN
18,ARG,2022,NaN,NaN,NaN,NaN,10.833276,NaN
19,ARG,2023,NaN,NaN,NaN,NaN,9.223854,NaN
20,ARG,2024,NaN,NaN,NaN,NaN,9.223854,NaN
21,AUS,2004,NaN,NaN,9.926181,98.777695,NaN,NaN
22,AUS,2005,28.3000,NaN,9.554185,98.829361,NaN,NaN
23,AUS,2006,43.0000,NaN,9.315417,98.660629,3.324733,NaN
24,AUS,2007,52.0000,NaN,8.651760,98.261719,3.324733,NaN
25,AUS,2008,62.0000,NaN,8.552238,98.730392,4.926543,NaN
26,AUS,2009,NaN,NaN,9.996901,99.174583,NaN,NaN
27,AUS,2010,72.6200,NaN,9.690154,99.109207,4.926543,NaN
28,AUS,2011,NaN,NaN,9.868906,99.134483,5.324185,NaN
29,AUS,2012,77.0000,NaN,9.856607,99.182411,5.324185,NaN
30,AUS,2013,NaN,NaN,10.852316,99.130447,5.324185,NaN
31,AUS,2014,NaN,NaN,10.389955,99.089287,6.041596,NaN
32,AUS,2015,NaN,NaN,9.758269,98.812508,6.041596,NaN
33,AUS,2016,NaN,NaN,8.927470,99.143822,6.041596,NaN
34,AUS,2017,NaN,NaN,8.663326,99.146439,5.550078,NaN
35,AUS,2018,NaN,NaN,8.840809,99.203194,5.550078,NaN
36,AUS,2019,NaN,7.5,8.656465,99.206535,5.550078,NaN
37,AUS,2020,NaN,7.2,11.860934,98.969398,6.713678,NaN
38,AUS,2021,NaN,NaN,8.460814,NaN,6.713678,NaN
39,AUS,2022,NaN,NaN,7.831167,NaN,6.713678,NaN
40,AUS,2023,NaN,NaN,7.491409,NaN,10.336866,NaN
41,AUS,2024,NaN,NaN,NaN,NaN,10.336866,NaN
42,AUT,2004,NaN,NaN,10.977864,99.998993,NaN,2.3
43,AUT,2005,23.1404,NaN,10.149777,99.999008,NaN,3.2
44,AUT,2006,33.1170,NaN,9.870388,99.999016,6.226957,3.8
45,AUT,2007,46.1463,NaN,8.724984,99.999023,NaN,2.6
46,AUT,2008,54.4969,NaN,8.930981,99.999031,7.846292,3.9
47,AUT,2009,57.8027,NaN,9.349524,99.999039,7.846292,2.9
48,AUT,2010,63.7002,NaN,9.617456,99.999046,7.846292,3.8
49,AUT,2011,71.9837,NaN,8.438075,99.999054,5.323621,2.7

In [57]:
# Check how many non-missing values are in the 'education' column
print(df_clean['education'].notna().sum())

# Or, check the percentage of non-missing values
print(df_clean['education'].notna().mean() * 100, "%")

# If you want to see a few rows where education is NOT missing
print(df_clean[df_clean['education'].notna()].head())

57
100.0 %
indicator country  year  air_pollution  education  internet_access  \
51            AUT  2013        79.7862   7.810006         8.780428
56            AUT  2018        87.6856   8.002416         9.220276
72            BEL  2013        78.6488   7.528975        13.021009
77            BEL  2018        83.7276   7.580024         9.429950
152           CHE  2009        73.9000   8.143000         9.546423

indicator  life_satisfaction  social_support  water_quality
51                 99.999077        5.323621            2.7
56                 99.986755        7.208514            1.6
72                 99.962799        7.539228            5.8
77                 99.962578        8.764923            5.2
152                99.943962        6.121666            7.6

In [58]:
import pandas as pd

# Assume df_clean is your pivoted, cleaned DataFrame with columns:
# 'country', 'year', 'education', 'life_satisfaction', plus other indicators

# 1. Count how many years have education data per country
edu_counts = df_clean.groupby('country')['education'].count()

# 2. Count how many years have life satisfaction data per country
life_counts = df_clean.groupby('country')['life_satisfaction'].count()

# 3. Combine counts into one DataFrame for easy filtering
coverage = pd.DataFrame({
    'education_years': edu_counts,
    'life_satisfaction_years': life_counts
})

# 4. Filter countries with at least 5 years of data for both education and life satisfaction
good_countries = coverage[
    (coverage['education_years'] >= 5) &
    (coverage['life_satisfaction_years'] >= 5)
].index.tolist()

print("Countries with sufficient data (5+ years):")
print(good_countries)

# 5. Filter the main DataFrame to keep only these countries
df_filtered = df_clean[df_clean['country'].isin(good_countries)]

# 6. Drop rows with any remaining missing values
df_filtered = df_filtered.dropna()

print(f"Filtered dataset shape: {df_filtered.shape}")

# Optional: Check how much data you kept
print(f"Number of unique countries after filtering: {df_filtered['country'].nunique()}")
print(f"Number of years of data: {df_filtered['year'].nunique()}")

# Show the first few rows
print(df_filtered.head())

Countries with sufficient data (5+ years):
['GBR']
Filtered dataset shape: (8, 8)
Number of unique countries after filtering: 1
Number of years of data: 8
indicator country  year  air_pollution  education  internet_access  \
385           GBR  2011        80.3639       7.42        14.526379
386           GBR  2012        85.5795       7.46        15.205557
387           GBR  2013        87.4423       7.51        14.368740
388           GBR  2014        88.1832       7.61        12.989417
389           GBR  2015        89.9422       7.65        12.409659

indicator  life_satisfaction  social_support  water_quality
385                99.611084        5.984012            6.5
386                99.603790        5.984012            8.1
387                99.595123        5.984012           10.6
388                99.585350        6.648706            9.4
389                99.586288        6.648706            7.8

In [59]:
# Print the list of countries that passed the filter
print("Countries with sufficient data (5+ years):")
print(good_countries)

# Or, if you want a nicely formatted list:
for country in good_countries:
    print(country)

# Alternatively, from your filtered DataFrame, get unique countries:
filtered_countries = df_filtered['country'].unique()
print("Unique countries in filtered data:")
print(filtered_countries)

Countries with sufficient data (5+ years):
['GBR']
GBR
Unique countries in filtered data:
['GBR']